	h1{
		text-align: center;
		font-family: 'Covered By Your Grace', cursive;
}
	img{
		height: 450px;
		width: 1300px;
}
	h2, ul{
		padding-left: 1100px;
		color: blue;
		font-family: 'Covered By Your Grace', cursive;

}	
	
	a{
		color: blue;
		font-family: 'Covered By Your Grace', cursive;
}

	body{
		color: blue;
		font-family: 'Covered By Your Grace', cursive;
}

	